<th:block th:fragment="header">
    <hr>
    <p>HEADER</p>

    <h1>FNX BACKEND TEMPLATE</h1>

    <th:block th:if="${!messages.isEmpty()}">
        <h3>Messages:</h3>
        <p th:each="msg : ${messages}" th:text="${'Message: '+msg}"></p>
    </th:block>


    <th:block th:if="${errorsMap['global'] != null && !errorsMap['global'].isEmpty()}">
        <h3>Errors:</h3>
        <p th:each="msg : ${errorsMap['global']}" th:text="${'Error: '+msg}" style="color: red;"></p>
    </th:block>


    <th:block th:if="${logged}">
        <p>Jste <span th:text="${loggedUser.getFullName()}"></span>. <a href="/logout">logout</a></p>

        <p th:if="${loggedUser.avatarUrl != null}"><img th:src="${loggedUser.avatarUrl}" style="width: 50px"></p>
    </th:block>

    <p>/HEADER</p>
    <hr>
</th:block>
