<!DOCTYPE html>
<html lang="cs">
<head>

    <th:block th:replace="fragments/head :: head"></th:block>

</head>
<body>

    <div th:replace="fragments/header :: header"></div>

    <form action="/forgotten/save" method="POST" th:if="${!logged}">

        <input type="hidden" name="change.email" th:value="${change == null ? '' : change.email}">
        <input type="hidden" name="change.token" th:value="${change == null ? '' : change.token}">
        
        nove heslo <input type="password" name="change.password"> <br>
        
        <button type="submit">change password</button>
    </form>

    <div th:replace="fragments/footer :: footer"></div>


</body>
</html>