<!DOCTYPE html>
<html lang="en">
<head>

    <th:block th:replace="fragments/head :: head"></th:block>

</head>
<body>

    <div th:replace="fragments/header :: header"></div>

    <h2>I'm index!</h2>
    <p>And this is root of this web <a th:href="${root}" th:text="${root}"></a>.</p>



    <form action="/login" method="POST" th:if="${!logged}">

        <hr>

        email <input type="text" name="login.email" th:value="${login == null ? '' : login.email}"> <br>
        password <input type="login.password" name="password"> <br>
        <button type="submit">login</button>
    </form>


    <form action="/register" method="POST" th:if="${!logged}">

        <hr>

        <!--
           Takhle se vyrenderuje chyba v policku formulare:
        -->
        <th:block th:if="${ errorsMap['register.firstName'] != null && !errorsMap['register.firstName'].isEmpty()}">
            <p th:each="msg : ${errorsMap['register.firstName']}" th:text="${'Error: '+msg}" style="color: red;"></p>
        </th:block>

        firstName <input type="text" name="register.firstName" ma:fieldValue="register.firstName"> <br>
        <!--
           TODO: chce to nejaky macro nebo tak neco:
           <ma:fieldErrors field="register.firstName"> ... tak nejak.
        -->


        lastName <input type="text" name="register.lastName" ma:fieldValue="register.lastName"> <br>
        email <input type="text" name="register.email" ma:fieldValue="register.email"> <br>
        password <input type="password" name="register.password"> <br>
        <button type="submit">login</button>
    </form>

    <div th:replace="fragments/footer :: footer"></div>


</body>
</html>